.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


.form-group label {
    margin-bottom: 0.4rem;
    font-weight: 600;
}

#addBook {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;

}

#addBook:focus {
    outline: none;
    border-color: #4a90e2
}